$color-purpleDark:#190028; 
$color-purpleLight:#b82Af0;
$color-yellow:#fee33c;
$color-green:#5fcf11;
$color-blueLight:#30c1fa;
$color-red:#ff1801;

.backgroundWrapper{
	.logoWrapper{

	}
	.logoWrapper__imgEmbed{

	}
    .contenedorInput{
		.contenedorInput__titleLabel{

		}
	    .contenedorInput__inputAdd{

		}
		.contenedorInput__btn--add{

		}
	}
    .contenedorListas{
		.contenedorListas__contentCoders{

		}
		.contenedorListas__title{

		}
		.contenedorListas__listaCoders{

		}
		.contenedorListas__titleWinners{

		}
		.contenedorListas__listaWinners{

		}
	}
	.contenedorButtons{
		.contenedorButtons__btn--sortear{

		}
		.contenedorButtons__btn--reset{

		}
	}
}
